## Crimes in Sacramento

* Dependences

In [1]:
import os
import csv
%matplotlib inline

import matplotlib.pyplot as plt


import collections
import pandas as pd
import numpy as np
import requests
import time
import datetime

* Loaded file 
* Readed  file and stored into Pandas data frame

In [2]:
file_to_load = "Sacramento_Crime_Data_From_Current_Year.csv"

Sac_crime_df = pd.read_csv(file_to_load, delimiter=',', encoding="utf-8", dtype={'Time Occurred':str})
Sac_crime_df.head()

,OBJECTID,Record_ID,Offense_Code,Offense_Ext,Offense_Category,Description,Police_District,Beat,Grid,Occurence_Date
0,2001,1434325,2203,0,BURGLARY,459 PC BURG BUSINESS-FORCE,5,5B,1369,2020-01-24T00:01:16.000Z
1,2002,1434326,2399,2,LARCENY,484 PC PETTY THEFT,3,3M,0742,2020-01-24T00:19:09.000Z
2,2003,1434330,2404,0,STOLEN VEHICLE,10851(A)VC TAKE VEH W/O OWNER,5,5C,1624,2020-01-19T00:08:00.000Z
3,2004,1434332,2299,01,BURGLARY,459 PC BURG VEHICLE,1,1A,0306,2020-01-23T00:03:00.000Z
4,2005,1434333,2299,01,BURGLARY,459 PC BURG VEHICLE,4,4C,1279,2020-01-21T00:06:00.000Z

In [3]:


# # format Occurence_date column and add "day of week" column
Sac_crime_df['Occurence_Date'] = Sac_crime_df['Occurence_Date'].str[:10]
Sac_crime_df.loc[:,'Occurence_Date'] = Sac_crime_df['Occurence_Date'].astype("datetime64[ns]")
Sac_crime_df['Day_of_Week'] = Sac_crime_df['Occurence_Date'].dt.weekday_name



Sac_crime_df.head()

,OBJECTID,Record_ID,Offense_Code,Offense_Ext,Offense_Category,Description,Police_District,Beat,Grid,Occurence_Date,Day_of_Week
0,2001,1434325,2203,0,BURGLARY,459 PC BURG BUSINESS-FORCE,5,5B,1369,2020-01-24,Friday
1,2002,1434326,2399,2,LARCENY,484 PC PETTY THEFT,3,3M,0742,2020-01-24,Friday
2,2003,1434330,2404,0,STOLEN VEHICLE,10851(A)VC TAKE VEH W/O OWNER,5,5C,1624,2020-01-19,Sunday
3,2004,1434332,2299,01,BURGLARY,459 PC BURG VEHICLE,1,1A,0306,2020-01-23,Thursday
4,2005,1434333,2299,01,BURGLARY,459 PC BURG VEHICLE,4,4C,1279,2020-01-21,Tuesday

In [4]:
# # create "Days" column 
Sac_crime_df['Days'] = pd.DatetimeIndex(Sac_crime_df['Occurence_Date']).day

Sac_crime_df.head()

,OBJECTID,Record_ID,Offense_Code,Offense_Ext,Offense_Category,Description,Police_District,Beat,Grid,Occurence_Date,Day_of_Week,Days
0,2001,1434325,2203,0,BURGLARY,459 PC BURG BUSINESS-FORCE,5,5B,1369,2020-01-24,Friday,24
1,2002,1434326,2399,2,LARCENY,484 PC PETTY THEFT,3,3M,0742,2020-01-24,Friday,24
2,2003,1434330,2404,0,STOLEN VEHICLE,10851(A)VC TAKE VEH W/O OWNER,5,5C,1624,2020-01-19,Sunday,19
3,2004,1434332,2299,01,BURGLARY,459 PC BURG VEHICLE,1,1A,0306,2020-01-23,Thursday,23
4,2005,1434333,2299,01,BURGLARY,459 PC BURG VEHICLE,4,4C,1279,2020-01-21,Tuesday,21

* Stored dataframe to a SQL database.

In [7]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://test:test@localhost:5432/ProjectTwo", echo=False)

Sac_crime_df.to_sql("sacramento_crime", con=engine,index=False, if_exists="replace")

# After running code set ObjectID as primary key

In [6]:
Sac_crime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2715 entries, 0 to 2714
Data columns (total 12 columns):
OBJECTID            2715 non-null int64
Record_ID           2715 non-null int64
Offense_Code        2715 non-null int64
Offense_Ext         2715 non-null object
Offense_Category    2715 non-null object
Description         2715 non-null object
Police_District     2714 non-null object
Beat                2714 non-null object
Grid                2714 non-null object
Occurence_Date      2715 non-null datetime64[ns]
Day_of_Week         2715 non-null object
Days                2715 non-null int64
dtypes: datetime64[ns](1), int64(4), object(7)
memory usage: 254.6+ KB