## Crimes in Sacramento

* Dependences

In [1]:
import os
import csv
%matplotlib inline

import matplotlib.pyplot as plt


import collections
import pandas as pd
import numpy as np
import requests
import time
import datetime

* Loaded file 
* Readed  file and stored into Pandas data frame

In [2]:
file_to_load = "Sacramento_Crime_Data_From_Current_Year.csv"

Sac_crime_df = pd.read_csv(file_to_load, delimiter=',', encoding="utf-8", dtype={'Time Occurred':str})
Sac_crime_df.head()

,OBJECTID,Record_ID,Offense_Code,Offense_Ext,Offense_Category,Description,Police_District,Beat,Grid,Occurence_Date
0,1001,1432285,5400,1,TRAFFIC,TRAFFIC ACCIDENT-NON-INJURY,4,4A,0905,2020-01-10T00:20:05.000Z
1,1002,1432286,2399,2,LARCENY,484 PC PETTY THEFT,6,6C,1111,2020-01-12T00:22:00.000Z
2,1003,1432287,2202,0,BURGLARY,459 PC BURG RESIDENCE-FORCE,5,5A,1501,2020-01-10T00:09:30.000Z
3,1004,1432290,2399,2,LARCENY,484 PC PETTY THEFT,2,2C,0619,2020-01-09T00:16:45.000Z
4,1005,1432293,2299,01,BURGLARY,459 PC BURG VEHICLE,3,3M,0742,2020-01-13T00:21:00.000Z

In [3]:


# # format Occurence_date column and add "day of week" column
Sac_crime_df['Occurence_Date'] = Sac_crime_df['Occurence_Date'].str[:10]
Sac_crime_df.loc[:,'Occurence_Date'] = Sac_crime_df['Occurence_Date'].astype("datetime64[ns]")
Sac_crime_df['Day of Week'] = Sac_crime_df['Occurence_Date'].dt.weekday_name



Sac_crime_df.head()

,OBJECTID,Record_ID,Offense_Code,Offense_Ext,Offense_Category,Description,Police_District,Beat,Grid,Occurence_Date,Day of Week
0,1001,1432285,5400,1,TRAFFIC,TRAFFIC ACCIDENT-NON-INJURY,4,4A,0905,2020-01-10,Friday
1,1002,1432286,2399,2,LARCENY,484 PC PETTY THEFT,6,6C,1111,2020-01-12,Sunday
2,1003,1432287,2202,0,BURGLARY,459 PC BURG RESIDENCE-FORCE,5,5A,1501,2020-01-10,Friday
3,1004,1432290,2399,2,LARCENY,484 PC PETTY THEFT,2,2C,0619,2020-01-09,Thursday
4,1005,1432293,2299,01,BURGLARY,459 PC BURG VEHICLE,3,3M,0742,2020-01-13,Monday

* Stored dataframe to a SQL database.

In [4]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://test:test@localhost:5432/ProjectTwo", echo=False)

Sac_crime_df.to_sql("Sacramento_crime", con=engine,index=False, if_exists="replace")